"""mediumapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from mediumapi.api_helper import APIHelper
from mediumapi.configuration import Server
from mediumapi.controllers.base_controller import (
    BaseController,
)
from mediumapi.http.http_method_enum import (
    HttpMethodEnum,
)
from mediumapi.models.article_content_response import (
    ArticleContentResponse,
)
from mediumapi.models.article_fans_response import (
    ArticleFansResponse,
)
from mediumapi.models.article_markdown_response import (
    ArticleMarkdownResponse,
)
from mediumapi.models.article_related_response import (
    ArticleRelatedResponse,
)
from mediumapi.models.article_response import (
    ArticleResponse,
)
from mediumapi.models.article_responses_response import (
    ArticleResponsesResponse,
)


class ArticleController(BaseController):
    """A Controller to access Endpoints in the mediumapi API."""

    def __init__(self, config):
        """Initialize ArticleController object."""
        super(ArticleController, self).__init__(config)

    def get_article_info(self,
                         article_id):
        """Perform a GET request to /article/{article_id}.

        Returns the article related information such as *Title, Subtitle, Tags,
        Topics* (assigned by Medium), *Publication, Published date and time,  Clap
        Count, Voter Count, Word Count, Reading Time, Language, etc…*

        Args:
            article_id (str): It's a unique hash id assigned to every Medium Article.

        Returns:
            ArticleResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/article/{article_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("article_id")
                .value(article_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ArticleResponse.from_dictionary),
        ).execute()

    def get_article_s_content(self,
                              article_id):
        """Perform a GET request to /article/{article_id}/content.

        Returns the content of an article/story, for the corresponding `article_id`

        Args:
            article_id (str): It's a unique hash id assigned to every Medium Article.

        Returns:
            ArticleContentResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/article/{article_id}/content")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("article_id")
                .value(article_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ArticleContentResponse.from_dictionary),
        ).execute()

    def get_article_fans(self,
                         article_id):
        """Perform a GET request to /article/{article_id}/fans.

        Returns a list of `user_ids` of the people who clapped on the article (a.k.a
        `voters`).

        Args:
            article_id (str): It's a unique hash id assigned to every Medium Article.

        Returns:
            ArticleFansResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/article/{article_id}/fans")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("article_id")
                .value(article_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ArticleFansResponse.from_dictionary),
        ).execute()

    def get_article_s_markdown(self,
                               article_id):
        """Perform a GET request to /article/{article_id}/markdown.

        Returns the markdown of an article/story from Medium, for the corresponding
        `article_id`

        Args:
            article_id (str): It's a unique hash id assigned to every Medium Article.

        Returns:
            ArticleMarkdownResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/article/{article_id}/markdown")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("article_id")
                .value(article_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ArticleMarkdownResponse.from_dictionary),
        ).execute()

    def get_related_articles(self,
                             article_id):
        """Perform a GET request to /article/{article_id}/related.

        Returns a list of `article_ids` of the related posts. (Length = 5)
        **Note:** If the given article is self-published, related posts will belong
        to the same author,  else related posts will belong to the publication in
        which the article is published.

        Args:
            article_id (str): It's a unique hash id assigned to every Medium Article.

        Returns:
            ArticleRelatedResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/article/{article_id}/related")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("article_id")
                .value(article_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ArticleRelatedResponse.from_dictionary),
        ).execute()

    def get_article_responses(self,
                              article_id):
        """Perform a GET request to /article/{article_id}/responses.

        Returns a list of responses (`response_ids`, same as `article_ids`) for a
        given article (`article_id`)
        Note: To see the content of the response, use the "Get Article's Content"
        endpoint

        Args:
            article_id (str): It's a unique hash id assigned to every Medium Article.

        Returns:
            ArticleResponsesResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/article/{article_id}/responses")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("article_id")
                .value(article_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ArticleResponsesResponse.from_dictionary),
        ).execute()
