"""mediumapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from mediumapi.api_helper import APIHelper
from mediumapi.configuration import Server
from mediumapi.controllers.base_controller import (
    BaseController,
)
from mediumapi.http.http_method_enum import (
    HttpMethodEnum,
)
from mediumapi.models.list_articles_response import (
    ListArticlesResponse,
)
from mediumapi.models.list_response import ListResponse
from mediumapi.models.list_responses_response import (
    ListResponsesResponse,
)


class ListController(BaseController):
    """A Controller to access Endpoints in the mediumapi API."""

    def __init__(self, config):
        """Initialize ListController object."""
        super(ListController, self).__init__(config)

    def get_list_info(self,
                      list_id):
        """Perform a GET request to /list/{list_id}.

        Returns the list-related information such as *id, name, author, description,
        thumbnail image url, creation datetime, last article inserted datetime,
        number of articles in the list, claps, voters, and comments/responses*.

        Args:
            list_id (str): It's a unique hash id assigned to every Medium List.

        Returns:
            ListResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/list/{list_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("list_id")
                .value(list_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListResponse.from_dictionary),
        ).execute()

    def get_list_articles(self,
                          list_id):
        """Perform a GET request to /list/{list_id}/articles.

        Returns an array of `articles_ids` present in the given Medium List.

        Args:
            list_id (str): It's a unique hash id assigned to every Medium List.

        Returns:
            ListArticlesResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/list/{list_id}/articles")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("list_id")
                .value(list_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListArticlesResponse.from_dictionary),
        ).execute()

    def get_list_responses(self,
                           list_id):
        """Perform a GET request to /list/{list_id}/responses.

        Returns an array of `response_ids` of the comments (same as `article_ids`) on
        the given Medium List.

        Args:
            list_id (str): It's a unique hash id assigned to every Medium List.

        Returns:
            ListResponsesResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/list/{list_id}/responses")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("list_id")
                .value(list_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListResponsesResponse.from_dictionary),
        ).execute()
