"""mediumapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from mediumapi.api_helper import APIHelper
from mediumapi.configuration import Server
from mediumapi.controllers.base_controller import (
    BaseController,
)
from mediumapi.http.http_method_enum import (
    HttpMethodEnum,
)
from mediumapi.models.latestposts_response import (
    LatestpostsResponse,
)
from mediumapi.models.related_tags_response import (
    RelatedTagsResponse,
)
from mediumapi.models.top_writer_response import (
    TopWriterResponse,
)
from mediumapi.models.topfeeds_response import (
    TopfeedsResponse,
)


class MiscController(BaseController):
    """A Controller to access Endpoints in the mediumapi API."""

    def __init__(self, config):
        """Initialize MiscController object."""
        super(MiscController, self).__init__(config)

    def get_latest_posts(self,
                         topic_slug):
        """Perform a GET request to /latestposts/{topic_slug}.

        Returns a list of latest posts (`article_ids`) for a topic/niche (as
        classified by the Medium platform). Example of a topic/niche can be:
        * blockchain
        * relationships
        * mental-health, etc …
        These are known as `topic_slugs`. At any given moment, this endpoint will
        return a list of 25 articles (`article_ids`).

        Args:
            topic_slug (str): It's a unique string, usually hyphen-separated,
                representing a topic/niche, as classified by Medium.

        Returns:
            LatestpostsResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/latestposts/{topic_slug}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("topic_slug")
                .value(topic_slug)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LatestpostsResponse.from_dictionary),
        ).execute()

    def get_related_tags(self,
                         tag):
        """Perform a GET request to /related_tags/{tag}.

        Returns a list of `related_tags` for the given `tag`.

        Args:
            tag (str): It's a unique string, usually hyphen-separated, representing a
                class of content.

        Returns:
            RelatedTagsResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/related_tags/{tag}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("tag")
                .value(tag)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RelatedTagsResponse.from_dictionary),
        ).execute()

    def get_top_writers(self,
                        topic_slug,
                        count=None):
        """Perform a GET request to /top_writer/{topic_slug}.

        Returns a list of top writers (`user_ids`) within a particular topic/niche
        (`topic_slug`).
        e.g.
        - blockchain
        - relationships
        - artificial-intelligence, etc ...
        **Note:** You can use optional `count` query parameter to limit the number of
        results.  The maximum number of top writers within a topic/niche will be 250.

        Args:
            topic_slug (str): It's a unique string, usually hyphen-separated,
                representing a topic/niche, as classified by Medium.
            count (int, optional): Limits the number of `article_ids` in the result.

        Returns:
            TopWriterResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/top_writer/{topic_slug}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("topic_slug")
                .value(topic_slug)
                .should_encode(True))
            .query_param(Parameter()
                .key("count")
                .value(count))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TopWriterResponse.from_dictionary),
        ).execute()

    def get_topfeeds(self,
                     tag,
                     mode,
                     after=0,
                     count=25):
        """Perform a GET request to /topfeeds/{tag}/{mode}.

        Returns a list of `article_ids` (length: 25) for the given `tag` and `mode`.

        Args:
            tag (str): It's a unique string, usually hyphen-separated, representing a
                class of content.
            mode (str): Mode:    - `hot` : For getting trending articles   - `new` :
                For getting latest articles   - `top_year` : For getting best
                articles of the year   - `top_month` : For getting best articles of
                the month   - `top_week` : For getting best articles of the week   -
                `top_all_time`: For getting best article of all time
            after (int, optional): To get the subsequent top feeds. (`after` &lt; 250)
            count (int, optional): To limit the number of top feeds. (`count` &lt; 25)

        Returns:
            TopfeedsResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/topfeeds/{tag}/{mode}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("tag")
                .value(tag)
                .should_encode(True))
            .template_param(Parameter()
                .key("mode")
                .value(mode)
                .should_encode(True))
            .query_param(Parameter()
                .key("after")
                .value(after))
            .query_param(Parameter()
                .key("count")
                .value(count))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TopfeedsResponse.from_dictionary),
        ).execute()
