"""mediumapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from mediumapi.api_helper import APIHelper
from mediumapi.configuration import Server
from mediumapi.controllers.base_controller import (
    BaseController,
)
from mediumapi.http.http_method_enum import (
    HttpMethodEnum,
)
from mediumapi.models.publication_articles_response import (
    PublicationArticlesResponse,
)
from mediumapi.models.publication_id_for_response import (
    PublicationIdForResponse,
)
from mediumapi.models.publication_newsletter_response import (
    PublicationNewsletterResponse,
)
from mediumapi.models.publication_response import (
    PublicationResponse,
)


class PublicationController(BaseController):
    """A Controller to access Endpoints in the mediumapi API."""

    def __init__(self, config):
        """Initialize PublicationController object."""
        super(PublicationController, self).__init__(config)

    def get_publication_id(self,
                           publication_slug):
        """Perform a GET request to /publication/id_for/{publication_slug}.

        Returns the unique `publication_id` for the given `publication_slug`.
        **Note:** You can find the `publication_slug` from the publication's homepage
        URL.
        - medium.com/**publication_slug**

        Args:
            publication_slug (str): It's a lowercased hyphen-separated unique string
                alloted to each Medium Publication.

        Returns:
            PublicationIdForResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/publication/id_for/{publication_slug}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("publication_slug")
                .value(publication_slug)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PublicationIdForResponse.from_dictionary),
        ).execute()

    def get_publication_info(self,
                             publication_id):
        """Perform a GET request to /publication/{publication_id}.

        Returns the publication related information such as *Publication name,
        Tagline, Description, Tags, Followers Count, Twitter username, Instagram
        username, Facebook Page name, etc …*
        **Note:** If you don't know the `publication_id`, you can get it from any
        article published by it. Use endpoint "/article/{article_id}" to retrieve the
        `publication_id`.

        Args:
            publication_id (str): It's a unique hash id assigned to every Medium
                Publication.

        Returns:
            PublicationResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/publication/{publication_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("publication_id")
                .value(publication_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PublicationResponse.from_dictionary),
        ).execute()

    def get_publication_articles(self,
                                 publication_id,
                                 mfrom=None):
        """Perform a GET request to /publication/{publication_id}/articles.

        Returns the list of `articles_ids`, of the latest 25 articles, posted in that
        publication.

        Args:
            publication_id (str): It's a unique hash id assigned to every Medium
                Publication.
            mfrom (str, optional): To get the articles before specified date and time.

        Returns:
            PublicationArticlesResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/publication/{publication_id}/articles")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("publication_id")
                .value(publication_id)
                .should_encode(True))
            .query_param(Parameter()
                .key("from")
                .value(mfrom))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PublicationArticlesResponse.from_dictionary),
        ).execute()

    def get_publication_newsletter(self,
                                   publication_id):
        """Perform a GET request to /publication/{publication_id}/newsletter.

        Returns the newsletter related information such as *id, name, description,
        slug, creator_id, subscribers, image_url, etc …*
        **Note:** If you don't know the `publication_id`, you can get it from any
        article published by it. Use endpoint "/article/{article_id}" to retrieve the
        `publication_id`.

        Args:
            publication_id (str): It's a unique hash id assigned to every Medium
                Publication.

        Returns:
            PublicationNewsletterResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/publication/{publication_id}/newsletter")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("publication_id")
                .value(publication_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PublicationNewsletterResponse.from_dictionary),
        ).execute()
