"""mediumapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from mediumapi.api_helper import APIHelper
from mediumapi.configuration import Server
from mediumapi.controllers.base_controller import (
    BaseController,
)
from mediumapi.http.http_method_enum import (
    HttpMethodEnum,
)
from mediumapi.models.search_articles_response import (
    SearchArticlesResponse,
)
from mediumapi.models.search_lists_response import (
    SearchListsResponse,
)
from mediumapi.models.search_publications_response import (
    SearchPublicationsResponse,
)
from mediumapi.models.search_tags_response import (
    SearchTagsResponse,
)
from mediumapi.models.search_users_response import (
    SearchUsersResponse,
)


class SearchController(BaseController):
    """A Controller to access Endpoints in the mediumapi API."""

    def __init__(self, config):
        """Initialize SearchController object."""
        super(SearchController, self).__init__(config)

    def search_articles(self,
                        query):
        """Perform a GET request to /search/articles?query={query}.

        Returns the list of `articles_ids` for the given search query results. (Max
        Length = 1000)

        Args:
            query (str): Search query

        Returns:
            SearchArticlesResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/search/articles?query={query}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("query")
                .value(query)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SearchArticlesResponse.from_dictionary),
        ).execute()

    def search_lists(self,
                     query):
        """Perform a GET request to /search/lists?query={query}.

        Returns an array of `list_ids` for the given search query results. (Max
        Length = 1000)

        Args:
            query (str): Search query

        Returns:
            SearchListsResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/search/lists?query={query}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("query")
                .value(query)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SearchListsResponse.from_dictionary),
        ).execute()

    def search_publications(self,
                            query):
        """Perform a GET request to /search/publications?query={query}.

        Returns the list of `publication_ids` for the given search query results.
        (Max Length = 1000)

        Args:
            query (str): Search query

        Returns:
            SearchPublicationsResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/search/publications?query={query}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("query")
                .value(query)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SearchPublicationsResponse.from_dictionary),
        ).execute()

    def search_tags(self,
                    query):
        """Perform a GET request to /search/tags?query={query}.

        Returns a list of `tags` for the given search query results. (Max Length =
        1000)

        Args:
            query (str): Search query

        Returns:
            SearchTagsResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/search/tags?query={query}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("query")
                .value(query)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SearchTagsResponse.from_dictionary),
        ).execute()

    def search_users(self,
                     query):
        """Perform a GET request to /search/users?query={query}.

        Returns a list of `user_ids` for the given search query results. (Max Length
        = 1000)

        Args:
            query (str): Search query

        Returns:
            SearchUsersResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/search/users?query={query}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("query")
                .value(query)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SearchUsersResponse.from_dictionary),
        ).execute()
