"""mediumapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from mediumapi.api_helper import APIHelper
from mediumapi.configuration import Server
from mediumapi.controllers.base_controller import (
    BaseController,
)
from mediumapi.http.http_method_enum import (
    HttpMethodEnum,
)
from mediumapi.models.user_articles_response import (
    UserArticlesResponse,
)
from mediumapi.models.user_followers_response import (
    UserFollowersResponse,
)
from mediumapi.models.user_following_response import (
    UserFollowingResponse,
)
from mediumapi.models.user_id_for_response import (
    UserIdForResponse,
)
from mediumapi.models.user_interests_response import (
    UserInterestsResponse,
)
from mediumapi.models.user_lists_response import (
    UserListsResponse,
)
from mediumapi.models.user_publications_response import (
    UserPublicationsResponse,
)
from mediumapi.models.user_response import UserResponse
from mediumapi.models.user_top_articles_response import (
    UserTopArticlesResponse,
)


class UserController(BaseController):
    """A Controller to access Endpoints in the mediumapi API."""

    def __init__(self, config):
        """Initialize UserController object."""
        super(UserController, self).__init__(config)

    def get_user_id(self,
                    username):
        """Perform a GET request to /user/id_for/{username}.

        Returns the unique `user_id` for the given `username`.
        **Note:** You can find the `username` from the user's/author's profile page
        URL.
        - **username**.medium.com
        - medium.com/@**username**

        Args:
            username (str): It's a unique string chosen by every single Medium user.

        Returns:
            UserIdForResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/user/id_for/{username}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("username")
                .value(username)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UserIdForResponse.from_dictionary),
        ).execute()

    def get_user_info(self,
                      user_id):
        """Perform a GET request to /user/{user_id}.

        Returns user related information like *Full name, Bio, Followers count,
        Following count, Twitter username, Profile-image URL, User ID, etc...*
        It takes `user_id` as the path parameter.
        **Note:** If you don't know the `user_id`, then you can get it from the
        endpoint\
        '/user/id_for/{`username`}'.

        Args:
            user_id (str): It's a unique hash id assigned to every single Medium user.

        Returns:
            UserResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/user/{user_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("user_id")
                .value(user_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UserResponse.from_dictionary),
        ).execute()

    def get_user_s_articles(self,
                            user_id):
        """Perform a GET request to /user/{user_id}/articles.

        Returns the list of articles (`article_ids`) written by the user.

        Args:
            user_id (str): Unique hash id assigned to every single Medium user.

        Returns:
            UserArticlesResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/user/{user_id}/articles")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("user_id")
                .value(user_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UserArticlesResponse.from_dictionary),
        ).execute()

    def get_user_followers(self,
                           user_id,
                           count=None):
        """Perform a GET request to /user/{user_id}/followers.

        Returns the list of `user_ids` of the user's followers.
        **Note:** The length of this followers' list might be different from what you
        get in  the "Get User Info" Endpoint. It's because, this list doesn't include
        Medium Users who  left the platform.
        If you really need the exact followers' count, use this endpoint to get the
        followers'  list and take its length as the exact followers' count

        Args:
            user_id (str): Unique hash id assigned to every single Medium user.
            count (int, optional): To limit the number of results. (count &lt; 1500)

        Returns:
            UserFollowersResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/user/{user_id}/followers")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("user_id")
                .value(user_id)
                .should_encode(True))
            .query_param(Parameter()
                .key("count")
                .value(count))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UserFollowersResponse.from_dictionary),
        ).execute()

    def get_user_following(self,
                           user_id,
                           count=None):
        """Perform a GET request to /user/{user_id}/following.

        Returns the list of `user_ids` of the user's followings.
        **Note:** Currently, this list does not contain the `publication_ids` of the
        publications that the user is following.

        Args:
            user_id (str): Unique hash id assigned to every single Medium user.
            count (int, optional): To limit the number of results. (count &lt; 1500)

        Returns:
            UserFollowingResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/user/{user_id}/following")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("user_id")
                .value(user_id)
                .should_encode(True))
            .query_param(Parameter()
                .key("count")
                .value(count))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UserFollowingResponse.from_dictionary),
        ).execute()

    def get_user_s_interests(self,
                             user_id):
        """Perform a GET request to /user/{user_id}/interests.

        Returns a list of tags that the given user follows.

        Args:
            user_id (str): Unique hash id assigned to every single Medium user.

        Returns:
            UserInterestsResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/user/{user_id}/interests")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("user_id")
                .value(user_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UserInterestsResponse.from_dictionary),
        ).execute()

    def get_user_s_lists(self,
                         user_id):
        """Perform a GET request to /user/{user_id}/lists.

        Returns an array of `list_ids` created by the user.
        **Note:** You can check whether the use has created lists or not beforehand.
        Check the  `has_list` attribute in the "Article Info" endpoint.

        Args:
            user_id (str): Unique hash id assigned to every single Medium user.

        Returns:
            UserListsResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/user/{user_id}/lists")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("user_id")
                .value(user_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UserListsResponse.from_dictionary),
        ).execute()

    def get_user_s_publications(self,
                                user_id):
        """Perform a GET request to /user/{user_id}/publications.

        Returns a list of `publication_ids` where the user is the editor and/or
        creator.

        Args:
            user_id (str): Unique hash id assigned to every single Medium user.

        Returns:
            UserPublicationsResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/user/{user_id}/publications")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("user_id")
                .value(user_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UserPublicationsResponse.from_dictionary),
        ).execute()

    def get_user_s_top_articles(self,
                                user_id):
        """Perform a GET request to /user/{user_id}/top_articles.

        Returns a list of `article_ids` of the top 10 articles on the user's profile,
        for a given `user_id`.

        Args:
            user_id (str): Unique hash id assigned to every single Medium user.

        Returns:
            UserTopArticlesResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/user/{user_id}/top_articles")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("user_id")
                .value(user_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UserTopArticlesResponse.from_dictionary),
        ).execute()
